<!DOCTYPE html>
<html lang="en"></html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Un mar de musicas</title>
        <link rel="stylesheet" href="/css/welcome_style.css">
    </head>
    <body>
        <h1 class="welcome">Bienvenido al sitio de "Un mar de musicas"</h1>
        <h3 class="basic_info">Somos un sitio web donde podes promocionar y subir tus temas o albumes de solista o de tu grupo musical</h3>
        <h3 class="basic_info1">Ademas te podes registrar como oyente y podes contribuir a los artistas y descargar sus musica</h3>
        <a class="login_call" href="/login">Login</a>
        <a class="register_call" href="/register">Register</a>
    </body>
</html>
